<div class="row text-center">
  <div class="col">
    <h2>Ejercicio con Redux</h2>
    <h2>{{ contador }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button pButton (click)="incrementar()" type="button" label="Incrementar" class="p-button-outlined p-button-rounded p-button-help" ></button>
    <button pButton (click)="decrementar()" type="button" label="Decrementar" class="p-button-outlined p-button-rounded p-button-primary" ></button>
  </div>
</div>
<hr>

<div class="row text-center">
  <div class="col">
    <app-hijo></app-hijo>
  </div>
</div>

